@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Cart>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

		<html>
    <head>
        <script src="/scripts/ShopingCart.js"></script>
		<script src="/scripts/Cart.js"></script>
    </head>
<body onLoad=GetData()>
    <p>Your Purchase List</p>
    <div id="Products"></div>
    <!--<div class="container"> <div class="row">
        <button onClick="Clear()">Delete all items</button>
    </div>
    </div> -->
</body>
	

</html>

