@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Cart>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

		<html>
    <head>
		
    </head>
<body onLoad=GetData()>
    <div class="container float-left">
        <p>Your Purchase List</p>
    
        <div id="Products"></div>
        <div id="OrderHistory"></div>
    </div>

</body>
	

</html>

